<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Welcome, <%= @user.first_name %>!<br><br>
      You have been enrolled in the CIT Workshop: <%= @section.course.title %><br>
      Workshop time: <%= @section.date_and_time %>.<br>
    </p>
    <hr>
    <h1><%= @section.course.title %></h1>
    <p><strong>Duration:</strong> <%= @section.course.duration %> minutes</p>
    <%= @section.course.description_html %>
  </body>
</html>
