<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Hi, <%= @user.display_first %>!</strong></p>
    <p>
      This is a reminder that you are enrolled in the CIT Workshop
      <%= link_to @course.title, course_section_url(@course, @section) %>
      tomorrow!
    </p>
    <p>
      We are looking forward to seeing you in class!
    </p>

    <p>
      <%= link_to 'Click here to unenroll from this course',
                  confirm_unenroll_course_section_url(@course, @section) %>
    </p>

    <hr />

    <h1><%= @course.title %></h1>
    <p><strong>Duration:</strong> <%= @course.duration %> minutes</p>
    <ul>
    <% @section.parts.each do |part| %>
      <li>
        <strong><%= part.date_and_time %></strong> (<%= part.location %>)
      </li>
    <% end %>
    </ul>
    <%= @course.description_html %>
  </body>
</html>
