<div class="page-header">
  <h2>CIT Workshop Calendar</h2>
</div>

<div class="cal">
  <%= month_calendar table: { class: 'table table-bordered' },
                     title: cal_title,
                     previous_link: cal_previous_link,
                     next_link: cal_next_link,
                     events: @parts do |date, parts| %>
    <div class="cal-date"><%= date.day %></div>

    <% if parts.any? %>
      <ul class="list-unstyled">
      <% parts.each do |part| %>
        <li class="cal-event <%= css_classes_for_cal_event(part.section) %>">
          <% if @user %>
            <%= render 'enrolled_icon' if @user.enrolled? part.section %>
            <%= render 'instructing_icon' if @user.instructing? part.section %>
          <% end %>
          <span class="start-time"><%= part.start_time %></span>
          <%= link_to part.section.course.short_title,
                      [part.section.course, part.section],
                      class: 'event-name' %>
        </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  <!-- calendar icon legend -->
  <ul class="list-inline">
    <li class="enrolled">
      <%= render "enrolled_icon" %> Enrolled
    </li>
    <li class="waiting">
      <%= render "waiting_icon" %> Wait List
    </li>
    <li class="completed">
      <%= render "completed_icon" %> Completed
    </li>
    <li class="instructing">
      <%= render "instructing_icon" %> Instructing
    </li>
  </ul>
</div>
