<div class="page-header hidden-xs">
  <h1>Workshop Calendar</h1>
</div>

<div class="cal hidden-xs">
  <%= render 'shared/icon_legend' %>

  <%= month_calendar table: { class: 'table table-bordered' },
                     title: cal_title,
                     previous_link: cal_previous_link,
                     next_link: cal_next_link,
                     events: @parts do |date, parts| %>
    <div class="cal-date"><%= date.day %></div>

    <% if parts.any? %>
      <ul class="list-unstyled">
      <% parts.each do |part| %>
        <li class="cal-event">
          <% if @user %>
            <%= render 'shared/enrolled_icon' if @user.enrolled? :section => part.section %>
            <%= render 'shared/instructing_icon' if @user.instructing? :section => part.section %>
            <%= render 'shared/completed_icon' if @user.completed? :section => part.section %>
            <%= render 'shared/waiting_icon' if @user.waiting? :section => part.section %>
          <% end %>
          <% if !part.online? %>
          <span class="start-time"><%= part.start_time %></span>
          <% end %>
          <%= link_to part.section.course.short_title,
                      [part.section.course, part.section],
                      class: 'event-name' %>
        </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>

  <%= render "shared/icon_legend" %>
</div>

<div class="cal-list-header">
  <h2 class="cal-list-title hidden-xs"><%= @start_date.strftime("%B %Y") %></h2>
  <h2 class="cal-list-title text-center visible-xs-block">
    <%= link_to url_for(start_date: @start_date.last_month.to_date) do %>
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <% end %>
    <%= @start_date.strftime("%B %Y") %>
    <%= link_to url_for(start_date: @start_date.next_month.to_date) do %>
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    <% end %>
  </h2>
</div>

<div class="cal-list">
<% if @parts_this_month.any? %>
  <!-- calendar icon legend -->
  <div class="visible-xs-block cal-legend-xs top">
    <%= render 'shared/icon_legend' %>
  </div>

  <% @parts_this_month.each do |part| %>
  <div class="row cal-list-item">
    <div class="col-xs-3 col-sm-2 col-md-1">
      <div class="cal-date">
        <div class="month">
          <%= part.starts_at.strftime("%b") %>
        </div>
        <div class="day">
          <%= part.starts_at.day %>
        </div>
      </div>
    </div>
    <div class="col-xs-9 col-sm-10 col-md-11">
      <div class="course-detail">
        <p class="title">
          <% if @user %>
            <%= render 'shared/enrolled_icon' if @user.enrolled? :section => part.section %>
            <%= render 'shared/instructing_icon' if @user.instructing? :section => part.section %>
            <%= render 'shared/completed_icon' if @user.completed? :section => part.section %>
            <%= render 'shared/waiting_icon' if @user.waiting? :section => part.section %>
          <% end %>
          <%= link_to part.section.course.title, [part.section.course, part.section] %>
          <% if part.section.is_full? %>
            <span class="label label-danger">Full</span>
          <% end %>
        </p>
        <p class="summary"><%= part.section.course.summary %></p>
        <p class="date-and-time"><%= part.date_and_time %></p>
        <p class="location">
          <strong>Location:</strong> <%= part.location %>
        </p>
        <p class="instructor">
          <strong>Instructor:</strong> <%= part.section.instructor.display_name %>
        </p>
      </div>
      <div class="course-actions">
        <% unless @user && @user.instructing?(:section => part.section) %>
          <% if @user && @user.enrolled?(:section => part.section) %>
            <%= link_to 'Drop', drop_course_section_path(part.section.course, part.section),
                        method: :delete, class: 'btn btn-default btn-sm' %>
          <% elsif !@user || (@user && !@user.enrolled?(:course => part.section.course)) %>
            <% if part.section.is_full? %>
              <%= link_to 'Add to waiting list', wait_list_course_section_path(part.section.course, part.section),
                          method: :post, class: 'btn btn-primary btn-sm' %>
            <% else %>
              <%= link_to 'Enroll', enroll_course_section_path(part.section.course, part.section),
                          method: :post, class: 'btn btn-primary btn-sm' %>
            <% end %>
          <% end %>
        <% end %>

        <% if user_signed_in? %>
        <div class="btn-group">
          <% if can? :view_enrollments, part.section %>
            <%= link_to course_section_path(part.section.course, part.section),
                        class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list"></span>
            <% end %>
          <% end %>
          <% if can? :update, part.section %>
            <%= link_to edit_course_section_path(part.section.course, part.section),
                        class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          <% end %>
          <% if can? :destroy, part.section %>
            <%= link_to [part.section.course, part.section], method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <!-- calendar icon legend -->
  <div class="visible-xs-block cal-legend-xs bottom">
    <%= render 'shared/icon_legend' %>
  </div>
<% else %>
<p class="cal-list-item">
  There are no courses scheduled for this month.
</p>
<% end %>
</div>
