<div class="panel panel-default current-enrollments">
  <div class="panel-heading">
    <h3 class="panel-title">My Current Enrollments</h3>
  </div>
  <% if current_user.enrollments.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% current_user.enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.course.title, enrollment.course %></td>
        <td><%= enrollment.section.date_and_time %></td>
        <td><%= enrollment.section.location %></td>
        <td class="text-right">
          <%= link_to 'Drop course', drop_course_section_path(enrollment.course, enrollment.section), method: :delete, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="panel-body">
    You don't have any current enrollments.  Why not
    <%= link_to "find some courses to take", courses_path %>?
  </div>
  <% end %>
</div>
