<% terminology = Rails.application.config.x["terminology"] %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(@user.errors.count, "error") %> prohibited this <%= terminology["course"] %> from being saved:
        </h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <% if @user.in_ldap? %>
          <span class="glyphicon glyphicon-lock pull-right"></span>
        <% end %>
        Profile
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group <%= error_class? :username %>">
            <%= f.label :username, class: 'control-label' %>
            <%= profile_field f, :text_field, :username, :autocapitalize => 'off' %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group <%= error_class? :employee_id %>">
           <%= f.label :employee_id, "Employee ID", class: 'control-label' %>
           <%= profile_field f, :number_field, :employee_id %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group <%= error_class? :first_name %>">
            <%= f.label :first_name, class: 'control-label' %>
            <%= profile_field f, :text_field, :first_name %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group <%= error_class? :last_name %>">
            <%= f.label :last_name, class: 'control-label' %>
            <%= profile_field f, :text_field, :last_name %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group <%= error_class? :email %>">
            <%= f.label :email, class: 'control-label' %>
            <%= profile_field f, :text_field, :email %>
          </div>

          <div class="form-group <%= error_class? :nickname %>">
            <%= f.label :nickname, class: 'control-label' %>
            <%= profile_field f, :text_field, :nickname %>
          </div>

          <div class="form-group <%= error_class? :phone_number %>">
            <%= f.label :phone_number, class: 'control-label' %>
            <%= profile_field f, :text_field, :phone_number %>
          </div>

          <div class="form-group <%= error_class? :mailbox %>">
            <%= f.label :mailbox, class: 'control-label' %>
            <%= profile_field f, :text_field, :mailbox %>
          </div>

          <div class="form-group <%= error_class? :department %>">
            <%= f.label :department, class: 'control-label' %>
            <%= profile_field f, :text_field, :department %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Preferences</h3>
    </div>
    <div class="panel-body">
      <div class="form-group <%= error_class? :computer_preference %>">
        <label class="control-label">
          What kind of computer do you prefer to use?
        </label>
        <div class="radio">
          <label>
            <%= f.radio_button :computer_preference, 'PC' %>
            I prefer to use a PC
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :computer_preference, 'Mac' %>
            I prefer to use a Mac
          </label>
        </div>
      </div>
    </div>
  </div>

  <% if can? :assign_permissions, @user %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Roles and Permissions</h3>
    </div>
    <div class="panel-body">
      <p>Give permissions to a user by setting a role.</p>
      <dl>
        <dt>Participlant</dt>
        <dd>
          The basic role.  Participants can enroll/drop courses and can see
          their user info (and can edit their own info if their record does
          not come from LDAP).
        </dd>

        <dt>Instructor</dt>
        <dd>
          Instructors view enrollments (roster) for course sections they are
          teaching, as well as edit the section information.  They can also
          edit course information if they are teaching a section of the course,
          and they can enroll and drop participants from their sections.
        </dd>

        <dt>Admin</dt>
        <dd>
          Admins get to have all the fun.  They can do anything.
        </dd>
      </dl>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group <%= error_class? :role %>">
            <%= f.label :role, class: 'control-label' %>
            <%= f.select :role, User.roles.collect { |r,i| [r.humanize, r] },
                         {}, :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% if can?(:update, @user) %>
      <%= f.submit class: 'btn btn-success' %>
  <% end %>
<% end %>
