<div class="panel panel-default instructor-sections">
  <div class="panel-heading">
    <h3 class="panel-title instructing">
      <%= render 'shared/instructing_icon' %>
      <%= @user == current_user ? 'My' : @user.display_first.possessive %>
      Courses
    </h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @user.sections.each do |section| %>
      <tr>
        <td><%= link_to section.course.title, section.course %></td>
        <td><%= section.parts.first.date_and_time %></td>
        <td><%= section.parts.first.location %></td>
        <td class="text-right">
          <%= link_to course_section_path(section.course, section),
                      :class => 'btn btn-default btn-xs' do %>
            <span class="glyphicon glyphicon-list"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
