<div class="panel panel-default profile-information">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if @user == current_user %>
        My Profile
      <% else %>
        User Profile
      <% end %>
    </h3>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th class="profile-field-label">Name:</th>
        <td>
          <%= @user.full_name %>
          <%= "(#{@user.nickname})" if @user.nickname %>
        </td>
      </tr>
      <tr>
        <th class="profile-field-label">JMU eID:</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Email address:</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Employee ID:</th>
        <td><%= @user.employee_id %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Phone Number:</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Mailbox:</th>
        <td><%= @user.mailbox %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Department:</th>
        <td><%= @user.department %></td>
      </tr>
      <tr>
        <th class="profile-field-label">Role:</th>
        <td><%= @user.role %></td>
      </tr>
      <tr class="profile-input">
        <th class="profile-field-label">Computer Preference:</th>
        <td>
          <form role="form">
            <select class="form-control computer-preference">
              <option>PC</option>
              <option>Mac</option>
            </select>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
