<% terminology = Rails.application.config.x["terminology"] %>
<div class="panel panel-default report-card">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= render 'shared/completed_icon' %>
      <%= @user == current_user ? 'My' : @user.display_first.possessive %>
      Report Card
    </h3>
  </div>
  <div class="panel-body">
    <strong><%= @user.current_enrollments.count %></strong>
    current <%= "enrollment".pluralize(@user.current_enrollments.count) %>

    <br />

    <strong><%= @user.completed_enrollments.count %></strong>
    completed  <%= terminology["course"].downcase.pluralize(@user.completed_enrollments.count) %>
  </div>

  <% if @user.completed_enrollments.any? %>
  <h4 class="text-center">Completed <%= terminology["course"].pluralize %></h4>
  <div class="list-group">
    <% @user.completed_enrollments.each do |enrollment| %>
      <%= link_to enrollment.course.title, enrollment.course,
          class: 'list-group-item' %>
    <% end %>
  </div>
  <% end %>
</div>
