<% if user_signed_in? %>
<div class="page-header">
  <h1>
    <%= @user.display_name %>
    <small><%= @user.email %></small>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render "current_enrollments" %>
    <% if @user.sections.any? %>
      <%= render "instructor_sections" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "report_card" %>
  </div>
</div>
<% else %>
<p>
  You are not logged in.  Please <%= link_to "login", new_user_session_path %>.
</p>
<% end %>
