<%= form_for([@course, @section]) do |f| %>
  <% if @section.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:
        </h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group<%= " has-error" if @section.errors[:section_number].any? %>">
        <%= f.label :section_number, class: 'control-label' %>
        <%= f.text_field :section_number, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group<%= " has-error" if @section.errors[:instructor_id].any? %>">
        <%= f.label :instructor_id, class: 'control-label' %>
        <%= f.collection_select :instructor_id, User.all, :id, :display_name,
                                {prompt: "Select instructor"},
                                class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group<%= " has-error" if @section.errors[:seats].any? %>">
        <%= f.label :seats, class: 'control-label' %>
        <%= f.number_field :seats, class: 'form-control' %>
      </div>
    </div>
  </div>

  <fieldset>
    <legend>Section parts</legend>
    <%= f.fields_for :parts do |parts_form| %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group<%= " has-error" if @section.errors[:location].any? %>">
          <%= parts_form.label :location, class: 'control-label' %>
          <%= parts_form.text_field :location, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group<%= " has-error" if @section.errors[:starts_at].any? %>">
          <%= parts_form.label :starts_at, class: 'control-label' %>
          <div>
            <%= parts_form.datetime_select :starts_at, {ampm: true} %>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group<%= " has-error" if @section.errors[:duration].any? %>">
          <%= parts_form.label :duration, class: 'control-label' %>
          <div class="input-group">
            <%= parts_form.number_field :duration, class: 'form-control' %>
            <span class="input-group-addon">minutes</span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group" style="margin-top: 34px">
          <div class="checkbox">
            <label>
              <%= parts_form.check_box :_destroy %>
              Remove?
            </label>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <% if @section.new_record? %>
      <%= link_to "Cancel", course_sections_path, class: 'btn btn-default' %>
    <% else %>
      <%= link_to "Cancel", [@course, @section], class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
