<div class="row">
  <div class="col-sm-4">
    <div class="form-group<%= " has-error" if f.object.errors[:location].any? %>">
      <%= f.label :location, class: 'control-label' %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group<%= " has-error" if f.object.errors[:starts_at].any? %>">
      <%= f.label :starts_at, class: 'control-label' %>
      <div class="input-group date">
        <%= f.text_field :starts_at,
              :class => 'form-control datetimepicker',
              :data => { :provides => 'datetimepicker', :date_format => 'YYYY-MM-DD hh:mm A' },
              :value => if f.object.starts_at.present?
                f.object.starts_at.to_s(:datetime_12h)
              else
                ''
              end,
              :placeholder => "yyyy-mm-dd hh:mm (am/pm)" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group<%= " has-error" if @section.errors[:duration].any? %>">
      <%= f.label :duration, class: 'control-label' %>
      <div class="input-group">
        <%= f.number_field :duration, class: 'form-control' %>
        <span class="input-group-addon">min</span>
      </div>
    </div>
  </div>
  <% if !f.object.new_record? %>
  <div class="col-sm-2">
    <div class="remove-section-part">
      <%= f.link_to_remove "Remove", :class => 'btn btn-default' %>
    </div>
  </div>
  <% end %>
</div>
<hr class="visible-xs" />
