<div class="panel-body-section <%= css_classes_for_section_row(section) %>">
  <div class="panel-body-section-heading">
    <h4 class="panel-body-section-title">
      <%= link_to "Section #{section.section_number}", course_section_path(section.course, section) %>
      <span class="label label-success"><%= section.open_seats %> open seats</span>
    </h4>
    <p>
      <strong>Instructor:</strong>
      <%= section.instructor.full_name %>
    </p>
  </div>

  <% section.parts.each do |part| %>
  <div class="panel-body-section-row">
    <div class="row">
      <div class="col-sm-4">
        <strong><%= part.date_and_time %></strong>
      </div>
      <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-0">
        <%= part.location %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <% if current_user && current_user.instructing?(section) %>
      <%= link_to 'View section', course_section_path(section.course, section),
          class: 'btn btn-primary' %>
    <% elsif current_user && current_user.enrolled?(section) %>
      <%= link_to 'Drop course', drop_course_section_path(section.course, section),
          method: :delete, class: 'btn btn-primary btn-default' %>
    <% elsif !current_user || (current_user && !current_user.enrolled?(section.course)) %>
      <%= link_to 'Enroll', enroll_course_section_path(section.course, section),
          method: :post, class: 'btn btn-primary' %>
    <% end %>

    <% if user_signed_in? && (can?(:update, section) || can?(:destroy, section)) %>
      <% if can? :update, section %>
        <%= link_to edit_course_section_path(section.course, section), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can? :destroy, section %>
        <%= link_to [section.course, section], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
