<div class="panel-body-section <%= css_classes_for_section_row(section) %>">
  <div class="panel-body-section-heading">
    <h4 class="panel-body-section-title">
      <% if @user.enrolled?(section: section, scope: :waiting) %>
        <span class="label label-default">Waiting</span>
      <% end %>
      <%= link_to "Section #{section.section_number}", course_section_path(section.course, section) %>
      <% if section.is_full? %>
        <span class="label label-danger">Full</span>
      <% else %>
        <span class="label label-success"><%= section.open_seats %> open seats</span>
      <% end %>
    </h4>
    <p>
      <strong>Instructor:</strong>
      <%= section.instructor.display_name %>
    </p>
  </div>

  <%= render partial: 'parts/part', collection: section.parts, layout: 'parts/panel_body_section_row' %>

  <div class="actions">
    <% if user_signed_in? %>
      <% case %>
      <% when @user.instructing?(section: section) %>
        <%= link_to 'View section', course_section_path(section.course, section),
                    class: 'btn btn-primary' %>
      <% when @user.enrolled?(section: section) %>
        <%= link_to 'Drop course', drop_course_section_path(section.course, section),
                    method: :delete, class: 'btn btn-primary' %>
      <% when @user.enrolled?(section: section, scope: :waiting) %>
        <%= link_to 'Stop waiting', drop_course_section_path(section.course, section),
                    method: :delete, class: 'btn btn-primary' %>
      <% when @user.completed?(section: section) %>
        <span class="completed">
          <span class="glyphicon glyphicon-ok"></span>
          <strong>Completed!</strong>
        </span>
      <% when @user.completed?(course: section.course) %>
        <button class="btn btn-default" disabled>Enroll</button>
      <% when section.is_full? %>
        <%= link_to 'Add to waiting list', wait_list_course_section_path(section.course, section),
                     method: :post, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Enroll', enroll_course_section_path(section.course, section),
                    method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <% case %>
      <% when section.is_full? %>
        <%= link_to 'Wait List', wait_list_course_section_path(section.course, section),
            method: :post, class: 'btn btn-warning' %>
      <% else %>
        <%= link_to 'Enroll', enroll_course_section_path(section.course, section),
            method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

    <% if user_signed_in? && (can?(:update, section) || can?(:destroy, section)) %>
      <% if can? :update, section %>
        <%= link_to edit_course_section_path(section.course, section), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can? :destroy, section %>
        <%= link_to [section.course, section], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
