<div class="panel-body-section <%= css_classes_for_section_row(section) %>">
  <div class="panel-body-section-heading">
    <h4 class="panel-body-section-title">
      <% if @user.enrolled?(section: section, scope: :waiting) %>
        <%= render 'shared/waiting_icon' %>
      <% end %>
      <%= link_to "Section #{section.section_number}", course_section_path(section.course, section) %>
      <% if section.is_full? %>
        <span class="label label-danger">Section full</span>
      <% else %>
        <span class="label label-success"><%= section.open_seats %> open seats</span>
      <% end %>
    </h4>
    <p>
      <strong>Instructor:</strong>
      <%= section.instructor.display_name %>
    </p>
  </div>

  <%= render partial: 'parts/part', collection: section.parts, layout: 'parts/panel_body_section_row' %>

  <div class="actions">
    <% if section.current? %>
      <%= render partial: 'sections/action',
                 locals: {user: @user, section: section}  %>
    <% end %>

    <% if user_signed_in? && (can?(:update, section) || can?(:destroy, section)) %>
      <% if can? :update, section %>
        <%= link_to edit_course_section_path(section.course, section), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can? :destroy, section %>
        <%= link_to [section.course, section], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
