<h1><%= link_to @course.title, @course %></h1>
<h2>
  <% if can? :add, @section %>
  <div class="admin-actions pull-right">
    <%= link_to 'Add new section', new_course_section_path, class: 'btn btn-default' %>
  </div>
  <% end %>
  Available sections
</h2>

<table class="table available-sections">
  <thead>
    <tr>
      <th>Section No.</th>
      <th>Location</th>
      <th>Seats</th>
      <th>Date and Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= link_to section.section_number, [@course, section] %></td>
        <td><%= section.location %></td>
        <td><%= section.seats %></td>
        <td><%= section.date_and_time %></td>
        <td>
          <div class="admin-actions pull-right">
            <% if can? :edit, @section %>
              <%= link_to edit_course_section_path(@course, section), class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            <% end %>
            <% if can? :destroy, @section %>
              <%= link_to [@course, section], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
