<% content_for :course_title_actions do %>
<div class="actions pull-right hidden-print">
  <% if current_user %>
    <% if can?(:enroll, @section) && !(current_user.enrolled?(@section.course) || current_user.instructing?(@section)) %>
      <%= link_to "Enroll", enroll_course_section_path(@course, @section), method: :post, class:'btn btn-primary' %>
    <% end %>
    <% if can?(:drop, @section) && current_user.enrolled?(@section) %>
      <%= link_to "Drop", drop_course_section_path(@course, @section), method: :delete, class:'btn btn-default' %>
    <% end %>
    <% if can? :update, @section %>
      <%= link_to edit_course_section_path(@course, @section), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
    <% if can? :destroy, @section %>
      <%= link_to [@course, @section], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  <% else %>
    <% if can?(:enroll, @section) %>
      <%= link_to "Enroll", enroll_course_section_path(@course, @section), method: :post, class:'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
<% end %>

<%= render partial: 'courses/title_heading', locals: { course: @course,
                                                       link_title: true } %>

<div class="summary">
  <ul class="list-unstyled">
    <li>
      <strong>Section Number:</strong>
      <%= @section.section_number %>
    </li>

    <li>
      <strong>Instructor:</strong>
      <%= @section.instructor.full_name %>
    </li>

    <li>
      <strong>Open Seats:</strong>
      <%= @section.open_seats %> / <%= @section.seats %>
    </li>
  </ul>

  <div class="hidden-print">
    <%= render @section.parts %>
  </div>
  <div class="visible-print-block">
  <% @section.parts.each do |part| %>
    <strong><%= part.date_and_time %></strong> &mdash; <%= part.location %><br />
  <% end %>
  </div>
</div>

<% if can? :view_enrollments, @section %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Roster</h3>
  </div>
  <% if @section.enrollments.any? %>
  <div class="table-responsive">
    <table class="table roster-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @section.enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.full_name %></td>
          <td><%= enrollment.user.email %></td>
          <td><%= enrollment.user.phone_number %></td>
          <td><%= enrollment.user.department %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="panel-body">
    <p>There isn't anyone enrolled in this section.</p>
  </div>
  <% end %>
</div>
<% end %>
