<% content_for :course_title_actions do %>
  <% if user_signed_in? %>
    <%= render 'signed_in_user_actions' %>
  <% else %>
    <% if @section.is_full? %>
      <%= link_to "Add to waiting list", wait_list_course_section_path(@course, @section),
                  method: :post,
                  class: 'btn btn-primary' %>
    <% else %>
      <%= link_to "Enroll", enroll_course_section_path(@course, @section),
                  method: :post,
                  class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'courses/title_heading',
           locals: { course: @course, link_title: true } %>

<div class="summary">
  <ul class="list-unstyled">
    <li>
      <strong>Section Number:</strong>
      <%= @section.section_number %>
    </li>

    <li>
      <strong>Instructor:</strong>
      <%= @section.instructor.display_name %>
    </li>

    <li>
      <% if @section.is_full? %>
        <span class="label label-danger">Section full</span>
      <% else %>
        <span class="label label-success">
          <%= pluralize(@section.open_seats, 'open seat', 'open seats') %>
        </span>
      <% end %>
    </li>
  </ul>

  <div class="hidden-print">
    <%= render @section.parts %>
  </div>
  <div class="visible-print-block">
  <% @section.parts.each do |part| %>
    <strong><%= part.date_and_time %></strong> &mdash; <%= part.location %>
    <br />
  <% end %>
  </div>
</div>

<% if can? :view_enrollments, @section %>
  <%= render 'course_roster' %>
  <%= render 'wait_list' if @section.is_full? %>
<% end %>
