<% content_for :course_title_actions do %>
  <% if user_signed_in? %>
    <%= render 'signed_in_user_actions' %>
  <% else %>
    <%= link_to "Enroll", enroll_course_section_path(@course, @section),
                :method => :post,
                :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<%= render :partial => 'courses/title_heading',
           :locals => { :course => @course, :link_title => true } %>

<div class="summary">
  <ul class="list-unstyled">
    <li>
      <strong>Section Number:</strong>
      <%= @section.section_number %>
    </li>

    <li>
      <strong>Instructor:</strong>
      <%= @section.instructor.display_name %>
    </li>

    <li>
      <strong>Open Seats:</strong>
      <%= @section.open_seats %> / <%= @section.seats %>
    </li>
  </ul>

  <div class="hidden-print">
    <%= render @section.parts %>
  </div>
  <div class="visible-print-block">
  <% @section.parts.each do |part| %>
    <strong><%= part.date_and_time %></strong> &mdash; <%= part.location %><br />
  <% end %>
  </div>
</div>

<% if can? :view_enrollments, @section %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Roster</h3>
  </div>
  <% if @section.enrollments.any? %>
  <div class="table-responsive">
    <table class="table table-striped roster-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Department</th>
          <% if can? :drop_user, @section %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @section.enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.user.display_name %></td>
          <td><%= enrollment.user.email %></td>
          <td><%= enrollment.user.phone_number %></td>
          <td><%= enrollment.user.department %></td>
          <% if can? :drop_user, @section %>
          <td>
            <%= form_tag drop_user_course_section_path,
                         :method => :delete,
                         :role => 'form' do |f| %>
              <%= hidden_field_tag :username, enrollment.user.username %>
              <%= button_tag "Drop user", :type => :submit, :class => 'btn btn-link' %>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <div class="panel-body">
    <p>There isn't anyone enrolled in this section.</p>
  </div>
  <% end %>
</div>
<% end %>
