<%= form_for(@setting)  do |f| %>
  <% if @setting.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:
        </h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.select :name, @available_settings, {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <% if @setting.new_record? %>
      <%= link_to "Cancel", settings_path, class: 'btn btn-default' %>
    <% else %>
      <%= link_to "Cancel", @setting, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
