<% link_title ||= false %>
<div class="page-header">
  <%= yield :course_title_actions %>
  <h1 class="hidden-print <%= classes_for_course(course) %>">
    <%= render partial: 'courses/icons', locals: { course: course } %>
    <% if link_title %>
      <%= link_to course.title, course %>
    <% else %>
      <%= course.title %>
    <% end %>
  </h1>
  <h1 class="visible-print-block"><%= course.title %></h1>
</div>
