<%= link_to 'Add new course', new_course_path, class: 'btn btn-default pull-right' %>
<h1>Available courses</h1>

<% @courses.each do |course| %>
<div class="course-row">
  <p class="admin-actions pull-right">
    <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Destroy', course, method: :delete, class: 'btn btn-default btn-sm',
                data: { confirm: 'Are you sure?' } %>
  </p>
  <h3><%= link_to course.title, course %></h3>
  <p>
    <%= course.description %><br>
  </p>
</div>
<% end %>
