<h1>
  <% if can? :add, @course %>
  <div class="admin-actions pull-right">
    <%= link_to 'Add new course', new_course_path, class: 'btn btn-default' %>
  </div>
  <% end %>
  Available CIT Workshop courses
</h1>

<% if @courses.empty? %>
<p>
  There are no courses available at this time.
  <% if can? :add, @course %>
  <span class="admin-actions">
    Consider <%= link_to "adding some courses", new_course_path %>.
  </span>
  <% end %>
<p>
<% end %>

<% @courses.each do |course| %>
<div class="course-row">
  <% if can? :edit, @course %>
  <div class="admin-actions pull-right">
    <%= link_to edit_course_path(course), title: 'Edit', class: 'btn btn-default btn-sm' do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to course, method: :delete, title: 'Delete', class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
  <% end %>
  <h3 class="title"><%= link_to course.title, course %></h3>
  <% if course.summary %>
  <div class="markdown-body summary">
    <%= course.summary_html %>
  </div>
  <% end %>
</div>
<% end %>
