<% content_for :course_title_actions do %>
  <% if can?(:update, @course) %>
    <%= link_to edit_course_path(@course), title: 'Edit', class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  <% end %>
  <% if can?(:destroy, @course) %>
    <%= link_to @course, method: :delete, title: 'Delete', class: 'btn btn-default', data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash"></span> Delete
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'title_heading', locals: { course: @course } %>

<% if @course.duration %>
  <p class="lead">
    <strong><%= Rails.application.config.x["terminology"]["course"] %> Duration:</strong> <%= @course.duration_in_words %>
    <% if @course.multi_session? %>
      total across multiple sessions
    <% end %>
  </p>
<% end %>

<article class="markdown-body description">
  <%= @course.description_html %>
</article>

<%= render "available_sections" %>
<% if @past_sections.any? and can?(:view_past_sections, Course) %>
  <%= render "past_sections" %>
<% end %>
