<% if can? :add, @course %>
<div class="admin-actions pull-right">
  <%= link_to edit_course_path(@course), title: 'Edit', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to @course, method: :delete, title: 'Delete', class: 'btn btn-default', data: { confirm: 'Are you sure?' } do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</div>
<% end %>

<h2>
  <%= @course.title %>
  <% if current_user and current_user.is_enrolled? @course %>
    <span class="label label-success">Enrolled</span>
  <% end %>
</h2>

<ul class="list-unstyled">
  <li><strong>Course Number:</strong> <%= @course.course_number %></li>
  <li><strong>Instructor:</strong> <%= @course.instructor %></li>
  <li><strong>Duration:</strong> <%= pluralize(@course.duration, "minute") %><li>
</ul>

<article class="markdown-body description">
  <%= @course.description_html %>
</article>
<div class="panel panel-default available-sections">
  <div class="panel-heading">
    <% if can? :add, @section %>
    <div class="admin-actions pull-right">
      <%= link_to "Add section", new_course_section_path(@course) %>
    </div>
    <% end %>
    <h3 class="panel-title">
      <% if can? :add, @section %>
      <%= link_to "Available sections", course_sections_path(@course) %>
      <% else %>
      Available sections
      <% end %>
    </h3>
  </div>
  <% if @course.sections.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th>Open Seats</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @course.sections.each do |section| %>
      <tr class="<%= css_class_for_section_row(section) %>">
        <td><%= section.section_number %></td>
        <td><%= section.date_and_time %></td>
        <td><%= section.location %></td>
        <td><%= section.open_seats %></td>
        <td class="text-right">
        <% if @enrolled_section == section %>
          <%= link_to 'Drop course', drop_course_section_path(@course, section), method: :delete, class: 'btn btn-default' %>
        <% elsif @enrolled_section.nil? %>
          <%= link_to 'Enroll', enroll_course_section_path(@course, section), method: :post, class: 'btn btn-primary' %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div class="panel-body">
    There aren't any sections available at this time.  Please check back later.
  </div>
  <% end %>
</div>
