<p class="admin-actions pull-right">
  <%= link_to edit_course_path(@course), title: 'Edit', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <%= link_to @course, method: :delete, title: 'Delete', class: 'btn btn-default', data: { confirm: 'Are you sure?' } do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</p>

<h1><%= @course.title %></h1>

<ul class="list-unstyled">
  <li><strong>Instructor:</strong> <%= @course.instructor %></li>
  <li><strong>Duration:</strong> <%= pluralize(@course.duration, "minute") %><li>
</ul>


<p class="lead">
  <%= @course.description %>
</p>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available sections</h3>
    </div>
    <table class="table available-sections">
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/9/2014 @ 2:00pm</td>
          <td>Carrier Library Room 37</td>
          <td><a href="#" class="btn btn-primary pull-right">Register</a></td>
        </tr>
      </tbody>
    </table>
</div>
