<% content_for :course_title_actions do %>
  <% if can?(:update, @course) || can?(:destroy, @course) %>
    <div class="actions hidden-print pull-right">
      <% if can?(:update, @course) %>
        <%= link_to edit_course_path(@course), title: 'Edit', class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can?(:destroy, @course) %>
        <%= link_to @course, method: :delete, title: 'Delete', class: 'btn btn-default', data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'title_heading', locals: { course: @course } %>

<% if @course.duration %>
  <p class="lead">
    <strong>Course Duration:</strong> <%= pluralize(@course.duration, "minute") %>
    <% if @course.multi_session? %>
      total across multiple sessions
    <% end %>
  </p>
<% end %>

<article class="markdown-body description">
  <%= @course.description_html %>
</article>

<%= render "available_sections" %>
